# DATABASE
CINDY_DATABASE_HOST="{{ database_host | default('localhost') }}"
CINDY_DATABASE_NAME="{{ database_name }}"
CINDY_DATABASE_PASSWORD="{{ database_password }}"


# DJANGO WEB APP
CINDY_SECRET_KEY="{{ app_secret_key }}"
DJANGO_SETTINGS_MODULE="test_project.settings"
